<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
    {% include head-custom.html %}
  </head>
  <body class="{{ page.layout | prepend: 'layout--' }} {{ site.minimal_mistakes_skin | prepend: 'skin--' }}">
    {% include skip-links.html %}
    {% include masthead.html %}

    <main id="main" class="page-content" aria-label="Content">
      <div class="wrap">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
